- if @drilldowns
  %ul.author-drilldowns
    - @drilldowns.first.items.each do |author_drilldown|
      %a{:href => url(:index, :q => @query_words, :authors => (@authors || []) + [author_drilldown['_key']])}
        %li
          = author_drilldown['_key']
          %span= author_drilldown['_nsubrecs']
