- if @drilldowns && ! @drilldowns.first.items.empty?
  %ul.author-drilldowns
    - @drilldowns.first.items.each do |author_drilldown|
      %li= "#{author_drilldown['_key']}(#{author_drilldown['_nsubrecs']})"
