%form{:class => 'form_search', :action => '/', :method => 'GET'}
  %div
    %div
      %input{:type => 'search', :name => 'q', :value => @query_words, :required => true}
    %div
      %button== #{t 'form_search.button'}

