%form{:class => 'row', :action => '/', :method => 'GET'}
  %div{:class => 'form-group'}
    %div{:class => 'col-md-6 col-md-offset-2'}
      %input{:type => 'search', :class => 'form-control', :name => 'q', :value => @query_words, :required => true}
    %div{:class => 'col-md-2'}
      %button{:class => 'form-control btn btn-default'} Search

