%li{:class => 'media'}
  %div{:class => 'media-body'}
    %h4{:class => 'media-heading'}== #{result['title']} - #{result['author']}
    = partial 'snippet', :collection => result['snippet_html(main_text)'] if result['snippet_html(main_text)']
