- content_for(:title) {t('books.title')}
%div{:class => 'container'}

  %div{:class => 'page-header'}
    %h1= link_to t('books.title'), url_for(:books)

  = partial 'form_search'

  %div{:class => 'row'}
    %div{:class => 'col-md-2'}
    %div{:class => 'col-md-8'}
      %ul{:class => 'media-list'}
        = partial 'book', :collection => @books if @books
    %div{:class => 'col-md-2'}
