- content_for(:title) {t('search_results', query_words: @query_words)} if @query_words
%div{:class => 'container'}

  %div{:class => 'page-header'}
    %h2= link_to 'EPUB Searcher', url_for(:index)
    %h1= t'search_results', query_words: @query_words

  = partial 'form_search'

  %div{:class => 'row'}
    %div{:class => 'col-md-2'}
    %div{:class => 'col-md-8'}
      %ul{:class => 'media-list'}
        = partial 'result', :collection => @results if @results
    %div{:class => 'col-md-2'}
