!!!
%html
  %head
    %title EPUB Searcher
    %meta{:name => 'viewport', :content => 'width=device-width, initial-scale=1.0'}
    %link{:href => '//maxcdn.bootstrapcdn.com/bootstrap/2.3.2/css/bootstrap.min.css', :rel => 'stylesheet', :media => 'screen'}
    = stylesheet_link_tag 'groonga'
  %body
    = yield
    %script{:src => '//code.jquery.com/jquery-1.11.1.min.js'}
    %script{:src => '//maxcdn.bootstrapcdn.com/bootstrap/2.3.2/js/bootstrap.min.js'}
